/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}
body {
  background-image: url("../images/pluto.jpg");
  background-size: 100% 110%;
  background-repeat: no-repeat;
}

#brand {
  font-weight: 700;
  margin-left: 150px;
  width: 750px;
  
}

#font {
  font-weight: 700;
  font-size: 13pt;
  
  
}